<nav
  class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0"
>
  <div class="container">
    <a class="navbar-brand fw-bold" href="#!"
      ><span style="color: #ff45e3;">RUW</span><span style="color: #f62aa1;"
        >CAFE</span
      ></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link item" href="#home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link item" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link item" href="#commit">COMMITMENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link item" href="#product">PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link item" href="#contact">CONTACT</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#!">
            <i class="bi bi-cart"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#!">
            <i class="bi bi-twitter"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#!">
            <i class="bi bi-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
  .navbar {
    /* From https://css.glass */
    background: rgba(247, 247, 247, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.26);
  }
  .item {
    text-transform: uppercase;
    font-weight: 300;
    transition: 300ms;
  }
  .item:hover {
    /* color: white; */
    font-weight: 500;
  }
</style>
